// .logo{
//     background-image: url(../assets/img/logo/arribaLasPatasLogo2.svg);
//     // background-repeat: no-repeat;
//     // width: 150px;
//     // height: 90px;
// }
/* inicia nav */
.botonera{
    background-color:$mainColor;
    img{
        width: 150px;
    }
    a{
        color:$white;
        text-decoration: none;
    }
    svg{
        width: 30px;
        fill:$white;
    }
    .num-cart{
        width: 15px;
        height: 15px;
        background-color:$black;
        border-radius: 50%;
        color:$white;
        display: block;
        border: solid $black 1px;
        transform: translate(11px,-30px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5em;
    }
}

